<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<a class="nav-link" href="/upload">New Post</a>
<main>
  <div id="pageWrapper">
    <div id="container" class="container">
          <div class="row-1" id="row1">
            <div class="logo-column" id="logoColumn"></div>
            <div class="logo" id="logo">STAY GOLDEN</div>
          </div>
          <% blogposts.reverse().forEach(posts =>  { %> 
          <div class="row-2" id="row2">
            <div class="left-column" id="leftColumn">
              <div class="bicycle-map" id="bicycleMap">
                <img src="img/bicycle-pin-svgrepo-com.svg" />
              </div>
              <div class="title-column" id="titlColumn"> 
                <p class="title" id="title"><%= posts.city + ", " + posts.state %></p>
                <p class="date" id="date"><%= posts.datePosted.toDateString() %></p>
              </div>
            </div>
            <div id="homeImage">
              <img id=mainImage" src="<%= posts.image %>">
            </div>
          </div>
          <% }) %>
    </div>
 
  </div>
</main>
  

</body>

<script>
  //console.log('<%= JSON.stringify(blogposts) %>');
  let main = document.querySelector("main")

  fetch('/homeData')
  .then(function(response) {
    return response.json()
})
.then(function(imageposts) {
  
  
  console.log(imageposts)
  let allData = imageposts.map(ele => ele.totalData.map(imageArray => imageArray))
  console.log(allData[0])
  
  allData.forEach(response => {
    response.forEach(eachImage => {
      console.log(eachImage)
      

      let pageWrapper = document.createElement('pageWrapper')
      let container = document.createElement('container').setAttribute('class', 'container')
      let row1 = document.createElement('row1').setAttribute('class', 'row-1')
      let logoColumn = document.createElement('logoColumn').setAttribute('class','logo-column')
      let logo = document.createElement('logo').setAttribute('class', 'logo')
      let row2 = document.createElement('row2').setAttribute('class', 'row-2')
      let leftColumn = document.createElement('leftColumn').setAttribute('class', 'left-column')
      let bicycleMap = document.createElement('bicycleMap').setAttribute('class', 'bicycle-map')
      let titleColumn = document.createElement('titlecolumn').setAttribute('class', 'title-column')
      let title = document.createElement('title').setAttribute('class', 'title')
      let date = document.createElement('date').setAttribute('class', 'date')
      let homeImage = document.createElement('homeImage')
      let mainImage = document.createElement('mainImage')

      pageWrapper.append(container)
      container.appendChild(row1)
      row1.appendChild('logoColumn')
      row1.appendChild('logo')

      
      container.appendChild(row2)
      row2.appendChild(leftColumn)
      leftColumn.appendChild(bicycleMap)
      leftColumn.appendChild(titleColumn)
      titleColumn.appendChild(title)
      titleColumn.appendChild(date)
      row2.appendChild(homeImage)




      let city = document.createElement('city')
      city.textContent = eachImage.city
      main.appendChild(city)

    })

  })
    
  
  let count = imageposts[0].totalCount[0].count
  console.log(count)
  //console.log(data[0].totalData)
})
.catch(function(err) {
  console.log('Something went wrong!', err)
});

</script>

</html>
