<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<a class="nav-link" href="/upload">New Post</a>
<main>
  <div id="page-wrapper">
    <div class="container">
     
          <div class="row-1">
            <div class="logo-column"></div>
            <div class="logo">STAY GOLDEN</div>
          </div>
          <% blogposts.reverse().forEach(posts =>  { %> 
          <div class="row-2">
            <div class="left-column">
              <div class="bicycle-map">
                <img src="img/bicycle-pin-svgrepo-com.svg" />
              </div>
              <div class="title-column"> 
                <p class="title"><%= posts.city + ", " + posts.state %></p>
                <p class="date"><%= posts.datePosted.toDateString() %></p>
              </div>
            </div>
            <div id="home-image">
              <img src="<%= posts.image %>">
            </div>
          </div>
          <% }) %>
    </div>
 
  </div>
</main>
  

</body>

<script>
  //console.log('<%= JSON.stringify(blogposts) %>');
  let main = document.querySelector("main")

  fetch('/homeData')
  .then(function(response) {
    return response.json()
})
.then(function(data) {
  data.reverse().forEach(posts => {
    //console.log(posts.datePosted)
    let city = document.createElement('city')
    city.textContent = posts.city
    main.appendChild(city)
  })
  //console.log(data[0])
})
.catch(function(err) {
  console.log('Something went wrong!', err)
});

</script>

</html>
